<?xml version="1.0"?>

<launch>
  
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    
    <remap from="scan" to="sensors/laser" />
     <!-- Fine tuning -->
    <param name="linearUpdate" value="0.8" />
    <param name="angularUpdate" value="0.8" />
    <param name="resampleThreshold" value="0.5" />

  </node>
    
</launch>